/* STYLE FOR TITLE HEADING */
div.header {
  text-align: center;
  background-color: #E6DEC5;
  padding: 30px 30px 10px 30px
}

div.sub_header {
  text-align: center;
  background-color: #E6DEC5;
  padding: 10px 30px 30px 30px
}

/* STYLE FOR MAIN ALPHABET SECTION */
div.solid {
  border-style: solid;
  border-width: 2px;
  border-color: #FF9991;
  background-color: #E6DEC5;
  /* padding: 80px 80px 80px 80px; */
  padding: 100px 100px 100px 100px;
  text-align: center;
  /* font-family: 'Mukta Mahee', sans-serif; font-size: 3em; */
}

div.solid letter {
  text-align: center;
  font-family: 'Mukta Mahee', sans-serif;
  /* font-size: 3em; */
}

/* div.pronounciation {
  font-size: 1em;
} */

/* div.solid button {
  font-size: 1em;
} */

/* FOR TOGGLE SOLUTION */
.button {
  color: black;
  background-color: #E6DEC5;
  text-decoration: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

/* FOR TOGGLE LINK SOLUTION */
/* .togglelink {
  font-size: 0.25em;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #FF9991;
  text-decoration: none;
}

a:active {
  text-decoration: none;
} */
